* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

:root {
  --background:#202124;
  --card:#ffffff;
  --primary:#6D5EF5;
  --success:#00C853;
  --danger:#FF5252;
}